
<!-- bootstrap navbar -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/src/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      MATHVERSE
    </a>
    <div class="nav-tags">
        <a href="/problemset">
            PROBLEMSET
        </a>
        <a href="/competition">
            COMPETITION
        </a>
        <a href="/edu">
            EDU
        </a>
        <a href="/rating">
            RATING
        </a>
        <a href="/talk">
            TALK
        </a>
        <a href="/user">
            USER
        </a>
        
    </div>
    
  </div>
</nav>