body{
    /* background-color: black !important; */
}

/* navbar */
.navbar{
    background-color: rgb(219, 218, 218) !important;
}

/* logo */
.navbar-brand{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/* styling anchor tag inside div tag */

.nav-tags a{
    margin-right: 1rem !important;
    color: black;
    text-decoration: none;
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav-tags a:hover{
    color: rgb(52, 54, 54);
}

/* problemset */
table {
    /* border-collapse: collapse; */
    width: 60%;
}
th, td{
    border: 1px solid #333;
    /* padding: 8px; */
    /* text-align: left; */
}

/* 
th {
    background-color: #f2f2f2;
} */

.problem-data{
    text-align: center;
}
.problem-header{
    text-align: center;
}

.problem-title{
    margin: 1rem;
}
